/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/
:root {
  --branding-color: #c2b9b0;
  --alternative-color: #123c69;
  --secondary-color: linear-gradient(
    to bottom right,
    #f9c395,
    #f59e94,
    #e26671,
    #a24d72
  );
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: white;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-family: var(--heading-font-family);
  color: black;
  font-size: 64px;
  font-weight: bold;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
img {
  width: 600px;
}

.hero {
  background-image: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: white;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
  color: white;
}
.content-container {
  padding: 160px 20px;
}
.content h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  line-height: 80px;
  color: black;
  margin-top: 0;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  color: black;
  line-height: 1.5;
}
.content p {
  font-size: 14px;
  font-family: var(--default-font-family);
}
.content-container img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}
.content {
  margin: 30px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  color: var(--alternative-color);
  border: 1px solid var(--alternative-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .content-content {
    text-align: center;
    padding: 0;
  }
  .content h1 {
    font-size: 44px;
    line-height: 56px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
